.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-items{
    margin: 0 10px;
}

.logo{
    width: 100px;
}

.nav-items>ul {
    display: flex;
    font-size: 20px;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 20px;
    list-style: none;
}

.res-card{
    width: 215px;
    background-color: #f0f0f0;
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
}

.res-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(42, 36, 36, 0.8);
}

.search{
    padding: 10px;
}

.res-logo{
    width: 210px;
    height: 180px;
    border-radius: 15px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}